@{
  Layout = "_Layout";
}

@model Factory.Models.Machine
@using Factory.Models

<h2>Machine Details</h2>
<hr />

<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)<h3>
<h3>@Html.DisplayNameFor(model => model.Engineer): @Html.DisplayFor(model => model.Engineer.Name)<h3>


<p>@Html.ActionLink("Edit Machines", "Edit", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Delete Machine", "Delete", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>