@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>machine details</h2>

<hr />

<h3>@Html.DisplayFor(model => model.MachineName)</h3>


<h4>engineers qualified to service this machine:</h4>
@if(@Model.JoinEntities.Count == 0)
{
  <p>this machine does not have any engineers assigned to it</p>
}
<ul>
  @foreach (var join in Model.JoinEntities)
  {
    <li>@Html.ActionLink($"{join.Engineer.Name}", "Details", "Engineers", new {id = join.Engineer.EngineerId})</li>
    @using (Html.BeginForm("DeleteEngineer", "Machines"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      <input type="submit" value="remove" />
    }
  }
</ul>


<ul class="menu-links">
  <li>@Html.ActionLink("edit machine", "Edit", new { id = Model.MachineId })</li>
  <li>@Html.ActionLink("delete this machine", "Delete", new { id = Model.MachineId })</li>
  <li>@Html.ActionLink("add an engineer to this machine", "AddEngineer", new {id = Model.MachineId })</li>
  <li>@Html.ActionLink("back to machine inventory", "Index")</li>
</ul>