@{
    Layout = "_Layout";
}
@model Factory.Models.Engineer

<h2>Add Machine</h2>
<hr />
<h4>Add a Machine for this Engineer: @Html.DisplayFor(engineer => engineer.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.engineerId)

    @Html.Label("Select a Machine")
    @Html.DropDownList("MachineId")
    <input type="submit" value="Add Machine">
}

<p>@Html.ActionLink("Back to Engineer", "Details", new {id = Model.EngineerId})</p>