@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h4>Add an Engineer</h4>

<p><strong>NOTE:</strong> You need to have at least one Machine before you can add an Engineer</p>
<p>Go to @Html.ActionLink("this page", "Create", "Machines") to Add a Machine.</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

  @Html.LabelFor(model => model.Machine)
  @Html.DropDownList("MachineId")

  <input type="submit" value="Add new Machine" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all Machines", "Index")</p>