@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Engineer Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>

@if (@Model.Machine.Count == 0)
{
  <h3>No machines have been assigned to this Engineer yet!</h3>
} 
else
{
  <h3>Machines:</h3>
  <ul>
    @foreach (Machine machine in Model.Machine)
    {
      <li>@Html.ActionLink($"{machine.Description}", "Details", "Machines", new { id = machine.MachineId })</li>
    }
  </ul>
}

<p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>