@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>@Html.DisplayFor(model => model.Name)</h2>
<hr />
@if(@Model.Machines.Count == 0)
{
  <p>@Html.DisplayFor(model => model.Name) isn't licensed to work on any machines</p>
}
else
{
  <h4>Licensed to repair:</h4>
  <br>
  @foreach(var join in Model.Machines)
  {
    <dl>@join.Engineer.Name</dl>
  }
}
<br>
<br>
<p>@Html.ActionLink("⚙️ Edit engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("⚙️ Delete engineer", "Delete", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("⚙️ Back to engineers", "Index")</p>