@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h4>add a new engineer</h4>

<hr />

@using (Html.BeginForm())
{
  @Html.Label("Name")
  @Html.TextBoxFor(model => model.Name, new { @class = "form-control", required = "required"})

 
  <br>
  @Html.Label("Qualified Machines")
  @Html.DropDownList("MachineId", null, string.Empty)

  <br>
  <br>
  <input type="submit" value="Complete" class="btn btn-default" required="true" />
}

<br>
<p>@Html.ActionLink("back to employee directory", "Index")</p>